@model TodoApp.ViewModel.UserViewModel
<link rel="stylesheet" type="text/css" href="~/css/setting.css" />

<form asp-action="UpdateProfilePicture" asp-controller="User" method="post" enctype="multipart/form-data" class="profile-form">
	<div class="user-info">
		<div class="user-image">
			@if (Model.ProfilePicture != null)
			{
				var base64 = Convert.ToBase64String(Model.ProfilePicture);
				var mimeType = Model.ProfilePictureMimeType ?? "image/png";
				var imgSrc = $"data:{mimeType};base64,{base64}";
				<img src="@imgSrc" id="profile" alt="User Image" />
			}
			else
			{
				<img src="~/Images/defaultUser.png" id="profile" alt="Default User Image" />
			}
			<div>
				<input type="file" id="fileInput" name="Profile" accept="image/*" hidden onchange="this.form.submit()" />
				<button type="button" class="upload-button" onclick="document.getElementById('fileInput').click();">Update Image</button>
			</div>
		</div>
		<div class="user-name">
			<label>@Model.Username</label>
		</div>
	</div>
</form>

<div class="setting-container">
	<div class="theme-card card">
		<h2 class="h2">Theme</h2>
		<div class="theme-options">
			<label for="theme-select">Choose Theme </label>
			<select id="theme-select" name="theme">
				<option value="system" id="system-theme">System</option>
				<option value="light" id="light-theme">Light</option>
				<option value="dark" id="dark-theme">Dark</option>
			</select>
		</div>
	</div>

	<div class="language-card card">
		<h2 class="h2">Language</h2>
		<div class="language-options">
			<label for="lang-select">Choose Language </label>
			<select id="lang-select" name="language">
				<option value="en">English</option>
				<option value="nep">Nepali</option>
			</select>
		</div>
	</div>

	<div class="notification-card card">
		<h2 class="h2">Notifications</h2>
		<div class="notification-options">
			<label for="notification-select">Notification</label>
			<select id="notification-select" name="notification">
				<option value="enabled">Enable</option>
				<option value="disabled">Disable</option>
			</select>
		</div>
	</div>
</div>
