<link rel="stylesheet" type="text/css" href="~/css/setting.css"/>

<div class="user-info">
	<div class="user-image"></div>
	<div class="user-name"></div>
</div>

<div class="setting-container">
	<div class="theme-card card">
		<h2 class="h2">Theme</h2>
		<div class="theme-options">
			<label for="theme-select">Choose Theme </label>
			<select id="theme-select" name="theme">
				<option value="system">System</option>
				<option value="light">Light</option>
				<option value="dark">Dark</option>
			</select>
		</div>
	</div>

	<div class="language-card card">
		<h2 class="h2">Language</h2>
		<div class="language-options">
			<label for="lang-select">Choose Language </label>
			<select id="lang-select" name="language">
				<option value="en">English</option>
				<option value="nep">Nepali</option>
			</select>
		</div>
	</div>

	<div class="notification-card card">
		<h2 class="h2">Notifications</h2>
		<div class="notification-options">
			<label for="notification-select">Notification</label>
			<select id="notification-select" name="notification">
				<option value="enabled">Enable</option>
				<option value="disabled">Disable</option>
			</select>
		</div>
	</div>
</div>