/* LIGHT THEME */
    body.light .setting-container
     {
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }

    body.light .h2 {
        color: #333;
    }

    body.light label {
        color: #555;
    }

    body.light select {
        background-color: #fff;
        color: #333;
        border: 1px solid #ccc;
    }

body.light .user-image {
    border: 1px solid black;
}

/* DARK THEME */

    body.dark .setting-container
     {
        background-color: #1e1e1e;
        border: 1px solid #333;
        box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
    }

    body.dark .h2 {
        color: #e0e0e0;
    }

    body.dark label {
        color: #ccc;
    }

body.dark .user-image {
    border: 1px solid white;
}

/* Shared styles */
.user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.setting-container {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    border-radius: 10px;
    padding: 20px;
}

.card {
    padding: 20px;
    border: none;
}

.h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

    select:focus {
        outline: none;
    }
